.list-header {
  margin: 15px 0 10px 0;
}
mat-list {
  display: inline-block;
}
.items {
  margin: 0 0 0 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.items li {
  position: relative;
  cursor: pointer;
  background-color: #eee;
  margin: 0;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
  margin-bottom: 30px;
  text-decoration: underline;
}
.items li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.items a:hover {
  color: #607d8b;
}
.items .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #405061;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  min-width: 16px;
  text-align: right;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}
.text-green {
  color: green;
}
.text-blue {
  color: blue;
}
.text-red {
  color: red;
}
h2 {
  font-size: 18px;
}
