.text-green {
  color: green;
}
.text-greenish {
  color: #5d915d;
}
.text-boring {
  color: grey;
}
.text-blue {
  color: blue;
}
.text-red {
  color: red;
}
.text-yellow {
  color: yellow;
}
.text-purple {
  color: purple;
}
.background-grey {
  background-color: grey;
}
.background-white {
  background-color: white;
}
.card-outline-primary {
  border-width: 1px;
  border-style: dashed;
  border-color: black;
}
